<!DOCTYPE html> 
<html>
  <body>
    <h1>
      Inventory Prototype Revision 1
    </h1>
    <p style = "background-color: white">
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'about', '../about' %></li>
    </ul>
    </p>
  </body>
</html>