<!DOCTYPE html>
<html>
  <body>
    <h1 style = "text-align: center; font-size: 1.75em">
      Welcome to our about page!
    </h1>
      <p style = "text-align:center;font-size: 1.2em">
        Click the <%= link_to 'link', root_path  %> to go to our home page!
      </p>
  </body>
</html>