<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--<title>Hello, world!</title>-->
  </head>
  <body>
    <h1 style = "text-align: center; font-size: 1.75em">
      Welcome to our documentation page!
    </h1>
      <p style = "text-align:center;font-size: 1.2em;width:70%;margin-left:15%">
        This is a demo application template built by Arachnid Technologies to be hosted
        on a custom built Arachnid Tech server.  Programs built from this template that we offer include inventory solutions, 
        scheduling/dispatching programs, and ERP software. Custom applications are available upon request and a quote 
        can be given after an initial free consultation.
    </p>
    <p style="text-align:center; text-decoration:none" >
        Click the <%= link_to 'link', root_path  %> to go to our home page!
      </p>
  </body>
</html>
