<!DOCTYPE html>
<html>
  <body>
    <h1 style = "text-align:center; font-size:1.75em">
      Welcome to our home page!
    </h1>
      <p style = "font-size:1.2em; font-style:italic; text-align:center; background-color:white; margin:0px 35% 0px 35%">
        Click the <%= link_to 'link', 'about'  %> to learn more about us! 
      </p>
      <p style = "font-size:2em; font-weight:bold; border:dashed 3px; background-color:white; padding:25px 25px 25px 25px; margin:20px 25% 40px 25%">
        Explore our exciting Products!
        <ul style = "list-style-type:none">
          <li style = "margin-right:75%; background-color:lightgreen; border:dotted 2px red; font-size:1.5em; font-weight:bold; padding:15px 15px 15px 15px"><%= link_to 'Inventory Software', "items/new" %></li>
      </ul>
      </p>
  </body>
</html>