/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*responsive.css*/
.field {
  
  
}

html {
  height:100%;
}
 
body {
  height:100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
  margin:0;
  background: rgba(243,226,199,1);
  background: -moz-linear-gradient(-45deg, rgba(243,226,199,1) 7%, rgba(193,156,98,1) 39%, rgba(182,141,76,1) 46%, rgba(193,158,103,1) 69%, rgba(206,175,127,1) 75%, rgba(233,212,179,1) 88%);
  background: -webkit-gradient(left top, right bottom, color-stop(7%, rgba(243,226,199,1)), color-stop(39%, rgba(193,156,98,1)), color-stop(46%, rgba(182,141,76,1)), color-stop(69%, rgba(193,158,103,1)), color-stop(75%, rgba(206,175,127,1)), color-stop(88%, rgba(233,212,179,1)));
  background: -webkit-linear-gradient(-45deg, rgba(243,226,199,1) 7%, rgba(193,156,98,1) 39%, rgba(182,141,76,1) 46%, rgba(193,158,103,1) 69%, rgba(206,175,127,1) 75%, rgba(233,212,179,1) 88%);
  background: -o-linear-gradient(-45deg, rgba(243,226,199,1) 7%, rgba(193,156,98,1) 39%, rgba(182,141,76,1) 46%, rgba(193,158,103,1) 69%, rgba(206,175,127,1) 75%, rgba(233,212,179,1) 88%);
  background: -ms-linear-gradient(-45deg, rgba(243,226,199,1) 7%, rgba(193,156,98,1) 39%, rgba(182,141,76,1) 46%, rgba(193,158,103,1) 69%, rgba(206,175,127,1) 75%, rgba(233,212,179,1) 88%);
  background: linear-gradient(135deg, rgba(243,226,199,1) 7%, rgba(193,156,98,1) 39%, rgba(182,141,76,1) 46%, rgba(193,158,103,1) 69%, rgba(206,175,127,1) 75%, rgba(233,212,179,1) 88%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
};