

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color:blue;
  font-size:3em;
  font-weight:bold;
  background-color:#d8f70c;
  border-radius:25%;
}

.panel-body {
  text-align:center;
  font-size:2em;
  background-color:lightgreen;
  
}
//#navItems:hover {
//  background-color:#adafa0;
//}

.nav-link:hover {
  background-color:#adafa0;
}

#homebutton {
  color:black;
  background-color:red;
  
}

#homebutton:hover {
  background-color:yellow;
  
}

.jumbotron {
  text-align:center;
  background-image:asset-url("charlotte.png");
  background-size:cover;
  height:650px;
}

.jumbotron h1 {
  color:white;
  
}

footer {
  text-align:center;
  border-top:1px solid #eaeaea;
  margin-top:5px;
  padding-top:10px;
  
}

footer ul {
  float:right;
  
}

footer li {
  color:red;
  margin-left:35%;
  margin-right:35%;
  float:left;
}

footer li:hover {
  background-color:yellow;
  border-radius:50%
}

footer small {
  font-size:1.2em;
  font-weight:bold;
}


