// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field {
  
  
  margin-bottom:30px;
  text-align:center;
  color: blue;
  font-size:2em;
}
.fields {
  
  border: solid 10px darkred;
  border-radius:25%;
  height: 500px;
}

#field2 {
  padding-bottom:50px;
}

#field1 {
  
  padding-bottom:50px;
}