<div class="container">
  <footer class="footer">
    <small>
      An example local program template from MSS design. -Cody Liske
    </small>
    <nav>
      <ul>
        <li><%= link_to "about", "about" %></li>
        <li><%= link_to "show listings", "items" %></li>
      </ul>
    </nav>
  </footer>
</div>